.row {
  display: flex;
}

.column {
  flex: 50%;
}

img {
     margin: 0 auto;
}


.navbar navbar-default  navbar-fixed-top {
  background-color: white;
}

ul{
  margin: 0;
  padding: 0;
  background-color: white;
}

.nav navbar-nav navbar-right {
  color: black;
}

a:hover{
  background-color: white;
}

 /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 25%;
  font-size: 40px;
  left: 75%;
  transform: translate(-75%, -25%);
  text-align: right;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
} 